Node-RED/flows.json
[
    {
        "id": "31c1d0238842b897",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "677148354d985221",
        "type": "group",
        "z": "31c1d0238842b897",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "498219c851bcd692"
        ],
        "x": 494,
        "y": 59,
        "w": 312,
        "h": 82
    },
    {
        "id": "d43ed90df819668e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "da515a6f948a482bb656f7310841d60d.s1.eu.hivemq.cloud",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d26d12594cf0f60b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtts://da515a6f948a482bb656f7310841d60d.s1.eu.hivemq.cloud",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fbe0da4359abd532",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5c273f7fd97bee4d",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "758ce003d4b088aa",
        "type": "ui_group",
        "name": "view",
        "tab": "5c273f7fd97bee4d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "29b1a3764312edcb",
        "type": "ui_group",
        "name": "control",
        "tab": "5c273f7fd97bee4d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93e998f5a2203621",
        "type": "mqtt in",
        "z": "31c1d0238842b897",
        "name": "greenhouse/light",
        "topic": "greenhouse/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d26d12594cf0f60b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "498219c851bcd692",
                "54d2956cc92878c0"
            ]
        ]
    },
    {
        "id": "8c88c7135a1898bd",
        "type": "mqtt out",
        "z": "31c1d0238842b897",
        "name": "",
        "topic": "greenhouse/control",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d26d12594cf0f60b",
        "x": 550,
        "y": 440,
        "wires": []
    },
    {
        "id": "b240bb85e47b17e2",
        "type": "ui_button",
        "z": "31c1d0238842b897",
        "name": "",
        "group": "29b1a3764312edcb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tự động",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "AUTO",
        "payloadType": "str",
        "topic": "greenhouse/control",
        "topicType": "msg",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "8c88c7135a1898bd"
            ]
        ]
    },
    {
        "id": "2a4b4447e009dc1f",
        "type": "ui_button",
        "z": "31c1d0238842b897",
        "name": "",
        "group": "29b1a3764312edcb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Bật Đèn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "greenhouse/control",
        "topicType": "msg",
        "x": 217,
        "y": 441,
        "wires": [
            [
                "8c88c7135a1898bd"
            ]
        ]
    },
    {
        "id": "83157afec3c2ad34",
        "type": "ui_button",
        "z": "31c1d0238842b897",
        "name": "",
        "group": "29b1a3764312edcb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tắt Đèn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "greenhouse/control",
        "topicType": "msg",
        "x": 220,
        "y": 520,
        "wires": [
            [
                "8c88c7135a1898bd"
            ]
        ]
    },
    {
        "id": "54d2956cc92878c0",
        "type": "ui_gauge",
        "z": "31c1d0238842b897",
        "name": "",
        "group": "758ce003d4b088aa",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Cường độ sáng tức thời",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "6400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "498219c851bcd692",
        "type": "ui_chart",
        "z": "31c1d0238842b897",
        "g": "677148354d985221",
        "name": "",
        "group": "758ce003d4b088aa",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Cường độ sáng theo thời gian",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 100,
        "wires": [
            []
        ]
    }
]